{% extends "dashboard/dashboard_base.html" %}

{% block main_content %}
    <div class="">
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!--  any messages? -->
            {% if messages %}
                <!-- loop messages -->
                {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{ message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

            {% endif %}
        {% endwith %}

        <!-- Display WTForms Validation Errors - to show mismatched password error -->
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class=" align-items-center justify-content-between">
                <div class="card-header bg-white">
                    <h2 class="card-title">Change Your Password</h2>

                </div>
            
            <div class="card-body">
            <!-- Change Password Form -->
            <form method="POST" action="{{ url_for('change_password') }}">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    <label for="current_password" class="form-label">Current Password</label>
                    {{ form.current_password(class="form-control",  placeholder="Enter your current password") }}
                </div>

                <div class="mb-3">
                    <label for="new_password" class="form-label" data-bs-toggle="tooltip" data-bs-placement="right" title="Passwords must be 8 characters or longer" >New Password <i class="fa-solid fa-circle-info"></i></label>
                    {{ form.new_password(class="form-control",  placeholder="Enter your new password") }}
                </div>

                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm New Password</label>
                    {{ form.confirm_password(class="form-control",  placeholder="Confirm your new password") }}
                </div>
                
                <div class="d-flex justify-content-between">
                    <a href="{{ url_for('settings') }}" class="btn btn-outline-secondary">Cancel</a>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>

        </div>
    </div>
    </div>
    </div>
{% endblock %}