{% extends "base.html" %}

{% block title %}Crew Call Sheet{% endblock %}

{% block content %}
<div class="text-center m-3">
    <h2><strong>Crew Call Sheet</strong></h2>
</div>
<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">

    <form method="POST" class="rounded border border-danger-subtle p-3 w-75 my-3 card" novalidate>
        {{ form.csrf_token }}

        <h3 class="text-center fw-light fs-4">Ensuring the crew has the right materials & equipment</h3>

        <!-- Purpose -->
        <div class="mb-3">
            {{ form.purpose.label(class="form-label") }}
            {% if form.purpose.flags.required %}
                <span class="text-danger" style="font-size: 0.875rem;">*</span>
            {% endif %}

            {{ form.purpose(class="form-control form-control-sm", style="max-height: 250px;") }}

            {% if form.purpose.errors %}
            <ul class="text-danger">
                {% for error in form.purpose.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Timings Description -->
        <div class="mb-3">
            {{ form.timings.label(class="form-label") }}
            {% if form.timings.flags.required %}
                <span class="text-danger" style="font-size: 0.875rem;">*</span>
            {% endif %}

            {{ form.timings(class="form-control form-control-sm", style="max-height: 250px;") }}
            {% if form.timings.errors %}
            <ul class="text-danger">
                {% for error in form.timings.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Site Information -->
        <div class="mb-3">
            {{ form.siteInfo.label(class="form-label") }}
            {% if form.siteInfo.flags.required %}
            <span class="text-danger" style="font-size: 0.875rem;">*</span>
            {% endif %}

            {{ form.siteInfo(class="form-control form-control-sm", style="max-height: 250px;") }}

            {% if form.siteInfo.errors %}
            <ul class="text-danger">
                {% for error in form.siteInfo.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Clothing & PPE -->
        <div class="mb-3">
            {{ form.clothingAndPPE.label(class="form-label") }}
            {% if form.clothingAndPPE.flags.required %}
            <span class="text-danger" style="font-size: 0.875rem;">*</span>
            {% endif %}

            {{ form.clothingAndPPE(class="form-control form-control-sm", style="max-height: 250px;") }}

            {% if form.clothingAndPPE.errors %}
            <ul class="text-danger">
                {% for error in form.clothingAndPPE.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Other Equipment -->
        <div class="mb-3">
            {{ form.otherEquipment.label(class="form-label") }}
            {% if form.otherEquipment.flags.required %}
            <span class="text-danger" style="font-size: 0.875rem;">*</span>
            {% endif %}

            {{ form.otherEquipment(class="form-control form-control-sm", style="max-height: 250px;") }}

            {% if form.otherEquipment.errors %}
            <ul class="text-danger">
                {% for error in form.otherEquipment.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Food & Drink -->
        <div class="mb-3">
            {{ form.foodAndDrink.label(class="form-label") }}
            {% if form.foodAndDrink.flags.required %}
            <span class="text-danger" style="font-size: 0.875rem;">*</span>
            {% endif %}

            {{ form.foodAndDrink(class="form-control form-control-sm", style="max-height: 250px;") }}

            {% if form.foodAndDrink.errors %}
            <ul class="text-danger">
                {% for error in form.foodAndDrink.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Submit and Save changes -->

        {% if project.can_edit() %}
            {{ form.submit(class="form-control btn btn-primary my-3") }}
            {{ form.saveChanges(class="form-control btn btn-primary") }}
        {% else %}
            <a href="{{ url_for('project', project_id=project.id) }}" class="btn btn-primary">Back
                to Project</a>
        {% endif %}
    </form>

</div>


{% endblock %}