{% extends "base.html" %}

{% block title %}Urban Area Flights{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <h1>Optional Forms</h1>
</div>

<div class="container d-flex justify-content-center mb-3">
    <h4>Forms & Checklist</h4>
</div>

<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 40vh">
    <div class="row justify-content-between">
        <!-- Left column -->
        <div class="col">
            <form class="container d-flex flex-column gap-4 align-items-start" method="post">
                <div class="d-flex flex-wrap align-items-center justify-content-start" style="gap: 5rem;">
                    <div class="d-flex flex-column gap-2 checklist-container flex-shrink">
                        {% for key in forms.keys() %}
                        {% set value = forms[key] %}

                        <div class="d-flex align-items-center gap-4 checklist-item">
                            <input type="checkbox" id="{{ key }}" name="{{ key }}" {% if value.value %}checked{% endif %}>
                            <div style="max-width: 25rem;">
                                <label for="{{ key }}">{{ value.title }}</label>
                                <p>{{ value.description }}</p>
                            </div>
                            <div class="d-flex align-items-end ms-auto">
                                <!-- Create If statement to show update state if there is a form in progress -->
                                <button type="button" class="btn btn-secondary ms">View</button>
                            </div>
                        </div>
                        
                        {% endfor %}
                    </div>
                </div>
        </div>
        </form>

        <!-- Right Column -->
        <div class="col">
            <form class="container d-flex flex-column gap-4 align-items-end" method="post">
                <div class="d-flex flex-wrap align-items-center justify-content-end" style="gap: 5rem;">
                    <div class="d-flex flex-column gap-2 checklist-container flex-shrink">
                        {% for key in checks.keys() %}
                        {% set value = checks[key] %}

                        <div class="d-flex align-items-center gap-4 checklist-item">
                            <input type="checkbox" id="{{ key }}" name="{{ key }}" {% if value.value %}checked{% endif
                                %}>
                            <div style="max-width: 25rem;">
                                <label for="{{ key }}">{{ value.title }}</label>
                                <p>{{ value.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>

    </form>
    {% if rural == 'True' %}
        <a href="{{ url_for('wizard_create_project_rural') }}" class="btn btn-primary mt-3">Back</a>
    {% elif urban == 'True'  %}
        <a href="{{ url_for('wizard_create_project_urban') }}" class="btn btn-primary mt-3">Back</a>
    {% else %}
    <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">home</a>
    {% endif %}
</div>
</div>

{% endblock %}