{% extends "base.html" %}

{% block title %}{{ form_data.title }}{% endblock %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
    <form method="POST" class="rounded border border-danger-subtle p-3 w-75 my-3 card">
        <div class="text-center">
            <p class="fs-1 mb-0">{{ form_data.title }}</p>
            <p class="fs-3 fw-light">{{ form_data.header }}</p>
        </div>

        <!-- Hazards -->
        <div class="section">
            <h4 class="mt-4">{{ form_data.form.sections[0].header }}</h4>
            <div class="mb-3">
                <label for="hazardSelect" class="form-label">Select a Hazard</label>
                <select class="form-select" id="hazardSelect" name="hazard">
                    <option value="" selected disabled>Choose a hazard...</option>
                    {% for hazard in form_data.form.sections[0].dropdown_hazards %}
                        <option value="{{ hazard.id }}">{{ hazard.name }}</option>
                    {% endfor %}
                </select>
                <p>{{form_data.form.sections[0].dropdown_hazards.control}}</p>
            </div>

            <!-- Thought here javascript here based on the hazard selected it shows the existing control relevant to the hazard -->
            <input type="hidden" id="selectedHazard" name="selectedHazard" value="">

            <!-- Existing Control -->
            <div class="mb-3 text-body">
                <h4 class="mt-4">{{ form_data.form.sections[1].header }}</h4>
                    {% for item in form_data.form.sections[1].existing_control %}
                        <p>{{ item.name }}</p>
                    {% endfor %}
            </div>

            <!-- Person at risk -->
            <h4 class="mt-4">{{ form_data.form.sections[2].header }}</h4>
            <div class="mb-3">
                <label for="peopleSelect" class="form-label">Select a Person at Risk</label>
                <select class="form-select" id="personSelect" name="people">
                    <option value="" selected disabled>Choose a person...</option>
                    {% for person in form_data.form.sections[2].dropdown_people %}
                        <option value="{{ person.id }}">{{ person.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Risk -->
            <h4 class="mt-4">{{ form_data.form.sections[3].header }}</h4>
            <h4 class=" fs-6 fw-light">Severity</h4>
            {% for i in range(1,6) %}
            <div class="form-check form-check-inline" onchange="calculateRiskScore()">
                <input class="form-check-input" type="radio" name="inlineRadioOptionsRiskSeverity" id="inlineRadioRiskSeverity{{i}}" value="{{i}}">
                <label class="form-check-label" for="inlineRadioRiskSeverity{{i}}">{{i}}</label>
            </div>
            {% endfor %}

            <h4 class=" fs-6 fw-light mt-3">Probability</h4>
            {% for i in range(1,6) %}
            <div class="form-check form-check-inline" onchange="calculateRiskScore()">
                <input class="form-check-input" type="radio" name="inlineRadioOptionsRiskProbability" id="inlineRadioRiskProbability{{i}}" value="{{i}}">
                <label class="form-check-label" for="inlineRadioRiskProbability{{i}}">{{i}}</label>
            </div>
            {% endfor %}

            <!-- Calculate the score based on the severity and probality by S*P  -->
            <div class="form-group">
                <label for="riskScore">Risk Score</label>
                <input type="text" class="form-control" id="riskScore" readonly>
            </div>
           
        
        <!-- Further Actions -->
        <h4 class="mt-4">{{ form_data.form.sections[4].header }}</h4>


        <!-- Residual Risk -->
        <h4 class="mt-4">{{ form_data.form.sections[5].header }}</h4>
        <h4 class=" fs-6 fw-light">Severity</h4>
        {% for i in range(1,6) %}
        <div class="form-check form-check-inline" onchange="calculateResidualRiskScore()">
            <input class="form-check-input" type="radio" name="inlineRadioOptionsResidualRiskSeverity" id="inlineRadioResidualRiskSeverity{{i}}" value="{{i}}">
            <label class="form-check-label" for="inlineRadioResidualRiskSeverity{{i}}">{{i}}</label>
          </div>
        {% endfor %}

        <h4 class=" fs-6 fw-light mt-3">Probability</h4>
        {% for i in range(1,6) %}
        <div class="form-check form-check-inline" onchange="calculateResidualRiskScore()">
            <input class="form-check-input" type="radio" name="inlineRadioOptionsResidualRiskProbability" id="inlineRadioResidualRiskProbability{{i}}" value="{{i}}">
            <label class="form-check-label" for="inlineRadioResidualRiskProbability{{i}}">{{i}}</label>
          </div>
        {% endfor %}

       <!-- Calculate the score based on the severity and probality by S*P  -->
            <div class="form-group">
                <label for="residualRiskScore">Risk Score</label>
                <input type="text" class="form-control" id="residualRiskScore" readonly>
            </div>
        
     

        <!-- Action Taken By (Could make a drop down of the list of pilots) -->
        <h4 class="mt-4">{{ form_data.form.sections[6].header }}</h4>
        <input type="text" class="form-control mb-3" 
        id="pilot" name="Pilot name" value="">

        <!-- Action Taken When -->
        <h4 class="mt-4">{{ form_data.form.sections[7].header }}</h4>
        <input type="date" class="form-control mb-3" 
        id="date" name="Date" value="">

        <!-- Completed -->
        <h4 class="mt-4">{{ form_data.form.sections[8].header }}</h4>
        <input type="checkbox" class="mt-2" id="check" name="check">
    
   
     
    <div class="container text-center mt-5 mb-2">
        <a href="{{ url_for('project', project_id=project.id) }}" class="btn btn-primary ms-auto">Back to Project</a>
        <button type="submit" class="btn btn-success ms-auto">Save</button>
    </div>
</form>

<script>
    function calculateRiskScore() {

        // Get radio Buttons
        const severity = document.querySelector('input[name="inlineRadioOptionsRiskSeverity"]:checked');
        const probability = document.querySelector('input[name="inlineRadioOptionsRiskProbability"]:checked');

        // If both of radio buttons are checked perform the risk score calculation
        if (severity && probability) {
            const riskScore = parseInt(severity.value) * parseInt(probability.value);
            document.getElementById('riskScore').value = riskScore;
        } else {
            document.getElementById('riskScore').value = "";
        }
    }

    function calculateResidualRiskScore() {

        // Get radio Buttons
        const severity = document.querySelector('input[name="inlineRadioOptionsResidualRiskSeverity"]:checked');
        const probability = document.querySelector('input[name="inlineRadioOptionsResidualRiskProbability"]:checked');

        // If both of radio buttons are checked perform the risk score calculation
        if (severity && probability) {
            const residualRiskScore = parseInt(severity.value) * parseInt(probability.value);
            document.getElementById('residualRiskScore').value = residualRiskScore;
        } else {
            document.getElementById('residualRiskScore').value = "";
        }
    }

</script>

{% endblock %}