{% extends "base.html" %}

{% block title %}Viability Study{% endblock %}

{% block content %}
    <div class="text-center m-3">
        <h2><strong>Viability Study</strong></h2>
    </div>
    <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">

        <form method="POST" class="rounded border border-danger-subtle p-3 w-75 my-3" novalidate>
            {{ form.hidden_tag() }}

            <h3 class="text-center fw-light fs-4">Analysing risks, requirements, and operational feasibility</h3>

            <div class="card my-3">
                <div class="card-body">
                    <h3 class="card-title">1.1 Flight information</h3>



                    <!-- Fight Code -->
                    <div class="mb-3">
                        <strong>{{ form.flightCode.label(class="form-label") }}</strong>
                        <p>Leave blank – this is allocated by the accountable manager if the flight is viable.</p>
                        {{ form.flightCode(class="form-control form-control-sm") }}
                        {% if form.flightCode.errors %}
                            <ul class="text-danger">
                                {% for error in form.flightCode.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Summary -->
                    <div class="mb-3">
                        <strong>{{ form.summary.label(class="form-label") }}</strong>
                        <p>Describe the proposed flight.</p>
                        {{ form.summary(class="form-control form-control-sm", rows="5", cols="50") }}
                        {% if form.summary.errors %}
                            <ul class="text-danger">
                                {% for error in form.summary.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="mb-3 col-12 col-md-6 col-lg-4">
                        <strong>{{ form.flightDate.label(class="form-label") }}</strong>
                        {{ form.flightDate(class="form-control form-control-sm") }}
                        {% if form.flightDate.errors %}
                            <ul class="text-danger">
                                {% for error in form.flightDate.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <p class="form-label">Latitude: 56°04'02.6"N</p>
                        <p class="form-label">Longitude: 3°27'58.0"W</p>
                    </div>

                    <div class="mb-3">
                        <strong>{{ form.preparedBy.label(class="form-label") }}</strong>
                        {{ form.preparedBy(class="form-control form-control-sm") }}
                        {% if form.preparedBy.errors %}
                            <ul class="text-danger">
                                {% for error in form.preparedBy.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="mb-3 col-12 col-md-6 col-lg-4">
                        <strong>{{ form.preparedDate.label(class="form-label") }}</strong>
                        {{ form.preparedDate(class="form-control form-control-sm") }}
                        {% if form.preparedDate.errors %}
                            <ul class="text-danger">
                                {% for error in form.preparedDate.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card my-3">
                <div class="card-body">
                    <h3 class="card-title">1.2 Airspace</h3>

                    <div class="mb-3">
                        <strong>{{ form.airSpaceClass.label(class="form-label") }}</strong>
                        {{ form.airSpaceClass(class="form-control form-control-sm") }}
                        {% if form.airSpaceClass.errors %}
                            <ul class="text-danger">
                                {% for error in form.airSpaceClass.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <strong>{{ form.airspaceObservations.label(class="form-label") }}</strong>
                        <p>List any factors that need to be taken into account such as the proximity to other aeronautical activities</p>
                        {{ form.airspaceObservations(class="form-control form-control-sm", rows="5", cols="50") }}
                        {% if form.airspaceObservations.errors %}
                            <ul class="text-danger">
                                {% for error in form.airspaceObservations.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <strong>{{ form.airspaceSources.label(class="form-label") }}</strong>
                        <p>List the sources used</p>
                        {{ form.airspaceSources(class="form-control form-control-sm", rows="5", cols="50") }}
                        {% if form.airspaceSources.errors %}
                            <ul class="text-danger">
                                {% for error in form.airspaceSources.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card my-3">
                <div class="card-body">
                    <h3 class="card-title">1.3 Ground hazards</h3>

                    <div class="mb-3">
                        <strong>{{ form.groundObservations.label(class="form-label") }}</strong>
                        <p>List any factors that need to be taken into account such as the proximity to other aeronautical activities</p>
                        {{ form.groundObservations(class="form-control form-control-sm", rows="5", cols="50") }}
                        {% if form.groundObservations.errors %}
                            <ul class="text-danger">
                                {% for error in form.groundObservations.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <strong>{{ form.groundSources.label(class="form-label") }}</strong>
                        <p>List the sources used</p>
                        {{ form.groundSources(class="form-control form-control-sm", rows="5", cols="50") }}
                        {% if form.groundSources.errors %}
                            <ul class="text-danger">
                                {% for error in form.groundSources.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card my-3">
                <div class="card-body">
                    <h3 class="card-title">1.4 Weather</h3>

                    <div class="mb-3">
                        <strong>{{ form.weatherObservations.label(class="form-label") }}</strong>
                        <p>Describe the expected weather conditions</p>
                        {{ form.weatherObservations(class="form-control form-control-sm", rows="5", cols="50") }}
                        {% if form.weatherObservations.errors %}
                            <ul class="text-danger">
                                {% for error in form.weatherObservations.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <strong>{{ form.weatherSources.label(class="form-label") }}</strong>
                        <p>List the sources used</p>
                        {{ form.weatherSources(class="form-control form-control-sm", rows="5", cols="50") }}
                        {% if form.weatherSources.errors %}
                            <ul class="text-danger">
                                {% for error in form.weatherSources.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Submit and Save changes -->
            {{ form.submit(class="form-control btn btn-primary my-3") }}
            {{ form.saveChanges(class="form-control btn btn-primary") }}
        </form>

    </div>


{% endblock %}