{% extends "/dashboard/dashboard_base.html" %}

{% block main_content %}

<div class="container d-flex justify-content-center col-12">
    <div class="card shadow-sm py-0"
        style="background-color: white; padding: 1rem; border: var(--accent-colour) solid 1px; border-radius: 8px;">
        <div class="card-body">
            <form method="POST">
                <!-- Main content row -->
                <div class="row">
                    <!-- Header -->
                    <div class="container text-center">
                        <p class="fs-1 mb-2">Rural Area Flights</p>
                        <p class="fs-5 fw-light">Mandatory Forms</p>
                    </div>

                    <!-- Loop through all checks -->
                    {% for key, value in checks.items() %}
                    <div class="d-flex checklist-item mb-3 flex-wrap">
                        <!-- Left Side: Checkbox, Title, and Description -->
                        <div class="d-flex flex-column col-12 col-md-8" style="flex: 1;">
                            <div class="d-flex align-items-center">
                                <input type="checkbox" class="mt-2" id="{{ key }}" name="{{ key }}" {% if value.value %}checked{% endif %}>
                                <div class="ms-2">
                                    <label for="{{ key }}">{{ value.title }}
                                        <small class="fw-light ms-2 small text-muted">{% if value.last_edit %} - Last Edited: {{ value.last_edit }} {% endif %}</small>
                                    </label>
                                </div>
                            </div>
                            <p class="ms-4">{{ value.description }}</p>
                        </div>
                    
                        <!-- Right Side: Button -->
                        <div class="d-flex align-items-center ms-auto col-12 col-md-4 col-lg-2">
                            {% if value.value %}
                            <a href="{{ url_for(value.form_url, project_id=project.id) }}" class="btn btn-success w-100">Update</a>
                            {% else %}
                            <a href="{{ url_for(value.form_url, project_id=project.id) }}" class="btn btn-primary w-100">View</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <!-- Bottom row -->
                <div class="row">
                    <!-- Controls -->
                    <div class="container text-center mt-5 mb-2">
                        <a href="{{ url_for('project', project_id=project.id) }}" class="mx-2 btn btn-primary">Back
                            to Project</a>
                        <button class="mx-2 btn btn-success">Save Changes</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}
