{% extends "base.html" %}

{% block title %}Loading List{% endblock %}

{% block content %}
    
    
    <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
        
        <div class="rounded border border-danger-subtle p-3 w-75 my-3 card">
            <div class="card-body">
                <div class="text-center m-3">
                    <h2><strong>Loading List</strong></h2>
                </div>

                <h3 class="text-center fw-light fs-4 pb-2">
                    Ensure all resources are prepared for flight.
                </h3>

                <hr>

                <ul class="list-group">
                    <!-- Crew -->
                    <li class="list-group-item d-flex justify-content-between align-items-center border-danger-subtle">
                        <span>Crew</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="badge bg-success rounded-pill">Complete</span>
                            <a href="{{ url_for('loading_list_crew', project_id=project.id) }}" class="btn btn-primary btn-sm">Open Form</a>
                        </div>
                    </li>

                    <!-- Equipment -->
                    <li class="list-group-item d-flex justify-content-between align-items-center border-danger-subtle">
                        <span>Equipment</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="badge bg-warning rounded-pill">In Progress</span>
                            <a href="{{ url_for('loading_list_equipment', project_id=project.id) }}" class="btn btn-primary btn-sm">Open Form</a>
                        </div>
                    </li>

                    <!-- Maintenance Kit -->
                    <li class="list-group-item d-flex justify-content-between align-items-center border-danger-subtle">
                        <span>Maintenance Kit</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="badge bg-danger rounded-pill">Not Started</span>
                            <a href="{{ url_for('loading_list_maintenance_kit', project_id=project.id) }}" class="btn btn-primary btn-sm">Open Form</a>
                        </div>
                    </li>

                    <!-- Safety Kit -->
                    <li class="list-group-item d-flex justify-content-between align-items-center border-danger-subtle">
                        <span>Safety Kit</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="badge bg-danger rounded-pill">Not Started</span>
                            <a href="{{ url_for('loading_list_safety_kit', project_id=project.id) }}" class="btn btn-primary btn-sm">Open Form</a>
                        </div>
                    </li>

                    <!-- Ground Equipment -->
                    <li class="list-group-item d-flex justify-content-between align-items-center border-danger-subtle">
                        <span>Ground Equipment</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="badge bg-warning rounded-pill">In Progress</span>
                            <a href="{{ url_for('loading_list_ground_equip', project_id=project.id) }}" class="btn btn-primary btn-sm">Open Form</a>
                        </div>
                    </li>
                </ul>
            </div>
            
            <!-- Button to submit finshed loading list -->
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Submit Loading List</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
