{% extends "base.html" %}

{% block title %}Loading List - Safety Kit{% endblock %}

{% block content %}
    <div class="text-center m-3">
        <h2><strong>Loading List - Safety Kit</strong></h2>
    </div>
    
    <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="w-75 text-start">
            <a href="{{ url_for('loading_list') }}" class="btn btn-primary my-3">
                ← Back to Loading List
            </a>
        </div>
        <div class="rounded border border-danger-subtle p-3 w-75 my-3 card">
            <div class="card-body">
                <h3 class="text-center fw-light fs-4 pb-2">
                    Ensure all maintenance kit items are checked before proceeding.
                </h3>
                <hr>
                <form>
                    <table class="table table-bordered table-striped custom-form-table">
                        <thead class="table-light">
                            <tr>
                                <th>Item</th>
                                <th>Action</th>
                                <th>Check</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>First aid kit</td>
                                <td>Check Condition</td>
                                <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                            </tr>
                            <tr>
                                <td>Fire extinguisher</td>
                                <td>Check Condition</td>
                                <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                            </tr>
                            <tr>
                                <td>PPE</td>
                                <td>High Vis, Hard hat, Safety glasses, boots, gloves</td>
                                <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                            </tr>
                            <tr>
                                <td>Anemometer</td>
                                <td>Check Condition</td>
                                <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                            </tr>
                            <tr>
                                <td>Landing pad</td>
                                <td>Check Condition</td>
                                <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                            </tr>
                            <tr>
                                <td>Cones</td>
                                <td>Check Condition</td>
                                <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                            </tr>
                            <tr>
                                <td>Radios</td>
                                <td>Charge & Check Condition</td>
                                <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                            </tr>
                            <tr>
                                <td>Mobile Phone</td>
                                <td>Charge & Check Condition</td>
                                <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-left mt-4">
                        <button type="button" class="btn btn-success">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
