<!-- Dashboard: home/root page of the dashboard, the first page the user see after logging-in -->

{% extends "/dashboard/dashboard_base.html" %}

{% block main_content %}
  <div class="home-container">

    <div class="">
      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      <!--  any messages? -->
      {% if messages %}
          <!-- loop messages -->
          {% for category, message in messages %}
              <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                  {{ message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}

      {% endif %}
  {% endwith %}
  </div>

    <!-- New Project -->
    <div class="row align-items-center">
      <div class="col">
          <p class="fs-2">Welcome, {{ current_user.username }}!</p>
      </div>
      <div class="col d-flex justify-content-end">
          <a href="{{ url_for('new_project_location') }}" class="btn btn-success">+ New Project</a>
      </div>
    </div>

    <!-- Upper cards -->
    <div class="row d-flex justify-content-center mb-sm-0 mb-lg-5">
      
      <!-- Project Card -->
      <div class="card mx-3 my-2" style="width: 15rem;">
        <div class="card-body">
          <p class="fs-2 card-title text-center">{{projects|length}}</p>
          <p class="card-text text-center">Projects</p>
        </div>
      </div>
  
      <!-- Project Card -->
      <div class="card mx-3 my-2" style="width: 15rem;">
        <div class="card-body">
          <p class="fs-2 card-title text-center">{{pendingProjects|length}}</p>
          <p class="card-text text-center">Pending Projects</p>
        </div>
      </div>
  
      <!-- Project Card -->
      <div class="card mx-3 my-2" style="width: 15rem;">
        <div class="card-body">
          <p class="fs-2 card-title text-center">{{pastProjects|length}}</p>
          <p class="card-text text-center">Past Projects</p>
        </div>
      </div>
    </div>
  
    <!-- Pending Projects -->
    <div class="row mt-5">
      <p class="fs-5" >Pending Projects</p>
      <div class="divider"></div>

      <div class="list-group">
        {% if pendingProjects %}
          {% for project in pendingProjects %}
            <!-- Project Card -->
            <div class="card mb-2">
              <div class="row mx-2 my-1">
                  <!-- Title -->
                  <div class="col-3 align-content-center">
                        {{ project.title }}
                        {% if project.authorID != current_user.id and current_user in project.allowed_users %}
                            <span class="badge bg-warning text-dark">Shared</span>
                        {% endif %}
                  </div>
                  <!-- Type -->
                  <div class="col align-content-center">
                    <p class="mb-0" style="color: var(--text-secondary-colour);">Type: {{ project.projectType }}</p>
                  </div>
                  <!-- Date -->
                  <div class="col align-content-center">
                      <p class="mb-0" style="color: var(--text-secondary-colour);">
                          Date of Flight: {{ project.dateOfFlight.strftime('%d/%m/%Y') }}
                      </p>
                  </div>

                  <!-- Last modified -->
                  <div class="col align-content-center">
                    <p class="mb-0" style="color: var(--text-secondary-colour);">
                        Last Edit: {{ project.lastEdited.strftime('%d/%m/%Y') }}
                    </p>
                  </div>
                  <!-- View Project -->
                  <div class="col d-flex justify-content-end">
                      <a href="{{ url_for('project', project_id=project.id) }}" class="btn btn-primary">View Project</a>
                  </div>
              </div>
            </div>
          {% endfor %}

            <!-- View More - Pending Projects -->
          <div class="text-center mt-3">
            <a href="{{url_for('projects')}}" style="color: var(--text-secondary-colour);">View More</a>
          </div>  
        {% else %}
            <p>No pending projects.</p>
        {% endif %}

      </div>

    </div>
    
    <!-- Past Projects -->
    <div class="row mt-5">
      <p class="fs-5" >Past Projects</p>
      <div class="divider"></div>

      <div class="list-group">
        {% if pastProjects %}

            {% for project in pastProjects %}
            <!-- Project Card -->
            <div class="card mb-2">
                <div class="row mx-2 my-1">
                    <!-- Title -->
                    <div class="col-3 align-content-center">
                        {{ project.title }}
                        {% if project.authorID != current_user.id and current_user in project.allowed_users %}
                            <span class="badge bg-warning text-dark">Shared</span>
                        {% endif %}
                    </div>
                    <!-- Type -->
                    <div class="col align-content-center">
                      <p class="mb-0" style="color: var(--text-secondary-colour);">Type: {{ project.projectType }}</p>
                    </div>
                    <!-- Date -->
                    <div class="col align-content-center">
                        <p class="mb-0" style="color: var(--text-secondary-colour);">
                            Date of Flight: {{ project.dateOfFlight.strftime('%d/%m/%Y') }}
                        </p>
                    </div>

                    <!-- Last modified -->
                    <div class="col align-content-center">
                      <p class="mb-0" style="color: var(--text-secondary-colour);">
                          Last Edit: {{ project.lastEdited.strftime('%d/%m/%Y') }}
                      </p>
                    </div>
                    <!-- View Project -->
                    <div class="col d-flex justify-content-end">
                        <a href="{{ url_for('project', project_id=project.id) }}" class="btn btn-primary">View Project</a>
                    </div>
                </div>
              </div>
            {% endfor %}
            <!-- View More - Pending Projects -->
            <div class="text-center mt-3">
              <a href="{{url_for('projects')}}" style="color: var(--text-secondary-colour);">View More</a>
            </div>
        {% else %}
            <p>No past projects.</p>
        {% endif %}
         
        
        
      </div>
      


    </div>
    
    
  </div>

  <style>
    .home-container {
      padding: 20px;
    }

    .divider {
      border-top: 1px solid rgb(228, 228, 228);
      margin-left: 0.5rem;
      margin-top: -0.5rem;
    }
  </style>
{% endblock %}
