<!-- This is the base html used for all dashboard pages -->
<!-- It comes with collapsable sidebar -->

{% extends "base.html" %}


{% block content %}
<!-- Sidebar -->
<div class="sidebar" style="margin-top: 60px; height: calc(100vh - 60px);">
  <!-- Top Section -->
  <div class="top-section mt-2 mx-2">
    <a href="{{ url_for('dashboard') }}" class="btn my-1 {% if title == 'dashboard' %}active{% endif %}">
      <i class="fas fa-home"></i> Dashboard
    </a>

    <a href="{{ url_for('projects') }}" class="btn my-1 {% if title == 'projects' %}active{% endif %}">
      <i class="fas fa-briefcase"></i> Projects
    </a>

    <li class="dropdown" style=" list-style-type: none;">
      <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" ><i class="fas fa-ambulance"></i> Emergency</a>
      <ul class="dropdown-menu">
        <li><a href="https://aviationreporting.eu/" class="dropdown-item">Eccairs</a></li>
        <li><a href="https://www.airproxboard.org.uk/home/" class="dropdown-item">Airprox</a></li>
      </ul>
    </li>
  </div>


  <!-- Bottom Section -->
  <div class="bottom-section mx-2 mb-2">
    <a href="{{url_for('logs')}}" class="btn {% if title == 'logs' %}active{% endif %}">
      <i class="fas fa-history"></i> Logs
    </a>

    <a href="{{url_for('settings')}}" class="btn">
      <i class="fas fa-sliders-h"></i> Settings
    </a>

    <a href="{{url_for('logout')}}" class="btn">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </div>
</div>

<!-- Hamburger Menu (visible on mobile screens) -->
<button class="sidebar-collapse btn" id="sidebar-toggle">&#9776;</button>

<!-- MAIN CONTENT -->
<div class="main_content py-0 py-md-3">
  {% block main_content %}{% endblock %}
</div>

<style>
  /* General Styles for the Dashboard Layout */
  .main_content {
    margin-left: 250px;
    /* Make space for the sidebar on larger screens */
    width: calc(100% - 250px);
    /* Adjust width to account for the sidebar */
    transition: margin-left 0.3s ease;
    padding: 20px;
    background-color: #f5f5f5;
    
  }

  /* Sidebar */
  .sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ddd;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  /* Sidebar toggle button (for mobile) */
  .sidebar-collapse {
    display: none;
  }

  /* Media Query for Small Screens (Mobile/Tablets) */
  @media (max-width: 768px) {

    /* Small screens - sidebar should take 60% width */
    .sidebar {
      position: fixed;
      width: 60%;
      transform: translateX(-100%);
      /* Sidebar hidden by default */
      z-index: 1050;
    }

    /* Show sidebar when it has 'show' class */
    .sidebar.show {
      transform: translateX(0);
    }

    /* Main content takes full width when sidebar is collapsed */
    .main_content {
      margin-left: 0;
      width: 100%;
      /* Take up full width */
    }

    .sidebar-collapse {
      margin: 5px 25px;
      display: block;
      background-color: #ffffff;
      color: var(--accent-colour);

      border: none;
      font-size: 30px;
    }
  }

  /* Sidebar Button Styling */
  .sidebar a,
  .sidebar button {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 18px;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
  }

  .sidebar a:hover,
  .sidebar button:hover {
    background-color: var(--accent-colour);
    color: white;
  }

  /* Active button styles */
  .sidebar .btn.active {
    font-weight: bold;
    background-color: var(--accent-colour);
    color: white;
  }

  .sidebar a:active,
  .sidebar button:active {
    background-color: var(--accent-colour);
  }
</style>

<script>
  // Dashboard - toggle the sidebar on mobile
  const sidebarToggle = document.getElementById('sidebar-toggle');
  const sidebar = document.querySelector('.sidebar');

  // Dashboard - sidebar visibility when hamburger menu is clicked (mobile)
  sidebarToggle.addEventListener('click', function () {
    sidebar.classList.toggle('show');
  });

  // Dashboard - Close sidebar when clicking outside (mobile)
  document.addEventListener('click', function (event) {
    if (!sidebar.contains(event.target) && !sidebarToggle.contains(event.target)) {
      sidebar.classList.remove('show');
    }
  });
</script>
{% endblock %}