<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
</head>
<body>
 <h1>This area is off-limits!</h1>
 <img src="{{ url_for('static', filename='Images/Errors/403_error.jpg') }}" alt="Drone Image Created by storyset - www.freepik.com" class="mb-3" style="width: 250px; height: 250px;">
    <p>You don't have permission to access this resource.</p>
    <button onclick="goBack()">Go Back</button>
</body>
</html>

<script>
function goBack() {
    window.history.back();
}
</script>
