<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
 <h1>Your destination doesn't exist!</h1>
 <img src="{{ url_for('static', filename='Images/Errors/404_error.jpg') }}" alt="Drone Image Created by storyset - www.freepik.com" class="mb-3" style="width: 250px; height: 250px;">
    <p>We can't seem to find the page you're looking for.</p>
    <button onclick="goBack()">Go Back</button>
</body>
</html>

<script>
function goBack() {
    window.history.back();
}
</script>
