<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
</head>
<body>
 <h1>Unexpected Turbulence - try again later!</h1>
 <img src="{{ url_for('static', filename='Images/Errors/500_error.jpg') }}" alt="Drone Image Created by storyset - www.freepik.com" class="mb-3" style="width: 250px; height: 250px;">
    <p>The server encountered an error and could not complete your request.</p>
    <button onclick="goBack()">Go Back</button>
</body>
</html>

<script>
function goBack() {
    window.history.back();
}
</script>
