:root {
    /* --accent-colour: #269aff;
    --accent-hover-colour: #2980B9; 
    --accent-press-colour: #275F80; */

    --accent-colour: #E5233F;
    --accent-hover-colour: #F03B55; 
    --accent-press-colour: #C71E36;

    --text-secondary-colour:rgb(93, 93, 93);

    --text-light-colour: #f4f4f4;
    --text-dark-colour: #121212;

    --success-colour: #03BD5B;
    --success-colour-hover: #14d26d;
    --success-colour-press: #07a651;
    --danger-colour: #dc3545;

}


/* ///////////////////// Primary Buttons ///////////////////// */
.btn-primary {
    background-color: var(--accent-colour) !important; 
    border-color: var(--accent-colour) !important;
}

.btn-primary:hover {
    background-color: var(--accent-hover-colour) !important;
    border-color: var(--accent-hover-colour) !important;
}

.btn-primary:active {
    background-color: var(--accent-press-colour) !important;
    border-color: var(--accent-press-colour) !important;
}

.btn-primary:visited {
    background-color:  var(--accent-press-colour);
}

/* ///////////////////// Success Buttons ///////////////////// */
.btn-success {
    background-color: var(--success-colour) !important; 
    border-color: var(--success-colour) !important;
}

.btn-success:hover {
    background-color: var(--success-colour-hover) !important;
    border-color: var(--success-colour-hover) !important;
}

.btn-success:active {
    background-color: var(--success-colour-press) !important;
    border-color: var(--success-colour-press) !important;
}

.btn-success:visited {
    background-color:  var(--success-colour-press);
}


/* /////////////////// GLOBAL ///////////////////*/

/* ///////////////////// Footer alignment ///////////////////// */
html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; 
    background-color: #F6F6F6;
    min-height: 100vh;
}

.content {
    flex: 1; /* Allow the content area to grow */
}

/* ///////////////////// Footer Links ///////////////////// */ 
.footer a {
    text-decoration: none;  
    color: #343a40;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #403434;
    text-decoration: none; 
}


/* Nav Bar  */

.sticky-top {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
}


.navbar-scrolled {
    transition: all 0.5s ease;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 1.2);
}

.active {
    font-weight: 600 !important;
}

/* Maps */

.map-box {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    margin: 10px;
    overflow: auto;
}

/* Checklists */

.checklist-container {
    padding: 1rem;
    border: var(--accent-colour) solid 1px;
    border-radius: 1rem;
    width: fit-content;
}


.checklist-item p {
    color: rgb(from black r g b / 50%);
    margin: 0;
}

/* Custom map styling */
#map {
    height: 400px;  
    width: 100%;   
    border-radius: 10px;  /* Rounded corners */
    border: 2px solid #ccc;  /* Light border */
}

/* Shadow effect for map */
#map {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Custom table - using Napier branding secondary colour */
.custom-form-table thead th {
    background-color: #E5233F ;
    color: black;
}

/* Custom tables - borders on cells */
.custom-form-table th, 
.custom-form-table td {
    border: 1px solid #E5233F;
    padding: 10px;
    text-align: left;
}

/* Custom table - centre align checkboxes */
.custom-form-table .form-check-input {
    margin: 0 auto;
    display: block;
}

/* Tooltips */
.custom-tooltip {
    border: 2px solid var(--accent-colour);
    border-radius: 8px;
}

/* Printing to PDF */

.print-only {
    display: none;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .print-only {
        display: block !important;
    }
}

.print-container hr {
    width: 100%;
    height: 0;
    border-top: 1px solid #000;
}