:root {
    /* --accent-colour: #269aff;
    --accent-hover-colour: #2980B9; 
    --accent-press-colour: #275F80; */

    --accent-colour: #E5233F;
    --accent-hover-colour: #F03B55; 
    --accent-press-colour: #C71E36;

    --text-secondary-colour:rgb(93, 93, 93);

    --text-light-colour: #f4f4f4;
    --text-dark-colour: #121212;

    --success-colour: #03BD5B;
    --success-colour-hover: #14d26d;
    --success-colour-press: #07a651;
    --danger-colour: #dc3545;

}


/* ///////////////////// Primary Buttons ///////////////////// */
.btn-primary {
    background-color: var(--accent-colour) !important; 
    border-color: var(--accent-colour) !important;
}

.btn-primary:hover {
    background-color: var(--accent-hover-colour) !important;
    border-color: var(--accent-hover-colour) !important;
}

.btn-primary:active {
    background-color: var(--accent-press-colour) !important;
    border-color: var(--accent-press-colour) !important;
}

.btn-primary:visited {
    background-color:  var(--accent-press-colour);
}

/* ///////////////////// Success Buttons ///////////////////// */
.btn-success {
    background-color: var(--success-colour) !important; 
    border-color: var(--success-colour) !important;
}

.btn-success:hover {
    background-color: var(--success-colour-hover) !important;
    border-color: var(--success-colour-hover) !important;
}

.btn-success:active {
    background-color: var(--success-colour-press) !important;
    border-color: var(--success-colour-press) !important;
}

.btn-success:visited {
    background-color:  var(--success-colour-press);
}



.btn-primary.focus,
.btn-primary:focus {
    box-shadow:  0 0 0 0.25rem #275F80 !important;
}

.btn-primary:active {
    color: #fff;
    background-color: var(--accent-press-colour) !important; 
    border-color: var(--accent-press-colour) !important;
}



/* /////////////////// GLOBAL ///////////////////*/

/* ///////////////////// Footer alignment ///////////////////// */
html, body {
    height: 100%;
    margin: 0;
}

body{
    background-color: #F6F6F6
}

.content {
    flex: 1; /* Allow the content area to grow */
}

/* ///////////////////// Footer Links ///////////////////// */ 
.footer a {
    text-decoration: none;  
    color: #343a40;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #403434;
    text-decoration: none; 
}


/* Nav Bar  */

.sticky-top {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.navbar-scrolled {
    transition: all 0.5s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.active {
    font-weight: 600 !important;
}

/* Maps */

.map-box {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    margin: 10px;
    overflow: auto;
}

/* Checklists */

.checklist-container {
    padding: 1rem;
    border: var(--accent-colour) solid 1px;
    border-radius: 1rem;
    width: fit-content;
}

.container {
width: 100%;
max-width: none;
}


.checklist-item p {
    color: rgb(from black r g b / 50%);
    margin: 0;
}

/* Custom map styling */
#map {
    height: 400px;  
    width: 100%;   
    border-radius: 10px;  /* Rounded corners */
    border: 2px solid #ccc;  /* Light border */
}

/* Shadow effect for map */
#map {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}