{% extends "base.html" %}

{% block title %}Add a Risk Analysis{% endblock %}

{% block content %}
    <div class="text-center m-3">
        <h2><strong>Add a Risk Analysis</strong></h2>
    </div>
    
    <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">

        <form class="rounded border border-danger-subtle p-3 w-75 my-3">
            <div class="card my-3">
                <div class="card-body">
                    <h3 class="card-title">Hazard Analysis</h3>
                    <!-- User should describe hazard and what is at risk from it -->
                    <div class="mb-3">
                        <label class="form-label" for="flightCode"><strong>Hazard ID:</strong>01</label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="hazard"><strong>Hazard:</strong></label>
                        <p class="form-label">Describe a hazrd that could impact project.</p>
                        <p class="form-label"><em>Example: Air incursion with Manned aircraft leading to collision with RPA.</em></p>
                        <input class="form-control form-control-sm" type="text" id="hazard" name="hazard">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="risk"><strong>Risk:</strong></label>
                        <p class="form-label">What does this hazard put at risk?</p>
                        <input class="form-control form-control-sm" type="text" id="risk" name="risk">
                    </div>
                </div>
            </div>
             <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// --> 

      
             <div class="card my-3">
                <div class="card-body">
                    <h3 class="card-title">Risk Before Mitigation</h3>
                    <!-- User will analyse the risk with only exsisting control measures in place -->

                    <div class="mb-3">
                        <label class="form-label" for="existingMeasures"><strong>Existing Control Measures:</strong></label>
                        <p class="form-label">Describe the measures that have been take to prevent this hazard.</p>
                        <p class="form-label"><em>Example: Flight to be conducted under 400ft ASL.</em></p>
                        <textarea class="form-control form-control-sm" id="locationInformation" name="locationInformation" rows="6" cols="50"></textarea>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="beforeSeverity"><strong>Severity:</strong></label>
                        <select class="form-select">
                            <option selected>Select severity rating</option>
                            {% for i in range(1, 11) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="beforeProbability"><strong>Probability:</strong></label>
                        <select class="form-select" >
                            <option selected>Select probability rating</option>
                            {% for i in range(1, 11) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="beforeRisk"><strong>Risk:</strong></label>
                        <select class="form-select">
                            <option selected>Select risk rating</option>
                            {% for i in range(1, 11) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                          </select>
                    </div>
                </div>
            </div>
                
            <div class="card my-3">
                <div class="card-body">
                   <h3 class="card-title">Risk Before Mitigation</h3>
                    <!-- User will now input their anaylsis of expectations if further control measures are taken -->
   
                   <div class="mb-3">
                       <label class="form-label" for="furtherMeasures"><strong>Further Control Measures:</strong></label>
                       <p class="form-label">Describe the measures that will be taken to prevent this hazard.</p>
                       <p class="form-label"><em>Example: Spotters to be deployed and briefed on alerting pilot to low flying aircraft.</em></p>
                       <textarea class="form-control form-control-sm" id="locationInformation" name="locationInformation" rows="6" cols="50"></textarea>
                   </div>
   
                   <div class="mb-3">
                       <label class="form-label" for="afterSeverity"><strong>Severity:</strong></label>
                       <select class="form-select">
                           <option selected>Select severity rating</option>
                           {% for i in range(1, 11) %}
                               <option value="{{ i }}">{{ i }}</option>
                           {% endfor %}
                         </select>
                   </div>
                   <div class="mb-3">
                       <label class="form-label" for="afterProbability"><strong>Probability:</strong></label>
                       <select class="form-select" >
                           <option selected>Select probability rating</option>
                           {% for i in range(1, 11) %}
                               <option value="{{ i }}">{{ i }}</option>
                           {% endfor %}
                         </select>
                   </div>
                   <div class="mb-3">
                       <label class="form-label" for="afterRisk"><strong>Risk:</strong></label>
                       <select class="form-select">
                           <option selected>Select risk rating</option>
                           {% for i in range(1, 11) %}
                               <option value="{{ i }}">{{ i }}</option>
                           {% endfor %}
                         </select>
                   </div>
               </div>
            </div>

            <!-- Buttons to submit or save changes -->
            <button type="submit" class="form-control btn btn-primary my-3">Submit</button>
            <button type="submit" class="form-control btn btn-primary">Save</button>

        </form>
    </div>
{% endblock %}