{% extends "base.html" %}

{% block title %}Add a Risk Analysis{% endblock %}

{% block content %}
    
    
    <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="rounded border border-danger-subtle p-3 w-75 my-3 card">
            <div class="card-body">
                <div class="text-center m-3">
                    <h2><strong>Add a Risk Analysis</strong></h2>
                </div>

                <h3 class="text-center fw-light fs-4 pb-2">
                    Analyse a possible risk to mitigate dangers.
                </h3>

                <!-- User should describe hazard and what is at risk from it -->
                <div class="mb-3">
                    <label class="form-label" for="flightCode">Hazard ID: 01</label>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="hazard">Hazard
                        <span class="text-danger" style="font-size: 0.875rem;">*</span>
                    </label>
                    <input class="form-control form-control-sm" type="text" id="hazard" name="hazard" placeholder="Describe a hazard that could impact project.">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="risk">
                        Risk
                        <span class="text-danger" style="font-size: 0.875rem;">*</span>
                    </label>
                    <input class="form-control form-control-sm" type="text" id="risk" name="risk" placeholder="What does this hazard put at risk?">
                </div>

                <hr>

                <!-- User will analyse the risk with only exsisting control measures in place -->
                <div class="row">
                    <p>
                        Risk before mitigation.
                    </p>
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label class="form-label" for="existingMeasures"><strong>Existing Control Measures:</strong></label>
                            <p class="form-label">Describe the measures that have been take to prevent this hazard.</p>
                            <p class="form-label"><em>Example: Flight to be conducted under 400ft ASL.</em></p>
                            <textarea class="form-control form-control-sm" id="locationInformation" name="locationInformation" rows="6" cols="50"></textarea>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label" for="beforeSeverity"><strong>Severity:</strong></label>
                            <select class="form-select">
                                <option selected>Select severity rating</option>
                                {% for i in range(1, 11) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="beforeProbability"><strong>Probability:</strong></label>
                            <select class="form-select" >
                                <option selected>Select probability rating</option>
                                {% for i in range(1, 11) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="beforeRisk"><strong>Risk:</strong></label>
                            <select class="form-select">
                                <option selected>Select risk rating</option>
                                {% for i in range(1, 11) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                </select>
                        </div>
                    </div>
                </div>

                <hr>
               
                <!-- User will now input their anaylsis of expectations if further control measures are taken -->
                <div class="row">
                    <!-- Left Column - Section Titles -->
                    
                        <p>Risk After Mitigation</p>
                    
                   <div class="col-md-8">
                        <div class="mb-3">
                            <label class="form-label" for="furtherMeasures"><strong>Further Control Measures:</strong></label>
                            <p class="form-label">Describe the measures that will be taken to prevent this hazard.</p>
                            <p class="form-label"><em>Example: Spotters to be deployed and briefed on alerting pilot to low flying aircraft.</em></p>
                            <textarea class="form-control form-control-sm" id="locationInformation" name="locationInformation" rows="6" cols="50"></textarea>
                        </div>
        
                        <div class="mb-3">
                            <label class="form-label" for="afterSeverity"><strong>Severity:</strong></label>
                            <select class="form-select">
                                <option selected>Select severity rating</option>
                                {% for i in range(1, 11) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="afterProbability"><strong>Probability:</strong></label>
                            <select class="form-select" >
                                <option selected>Select probability rating</option>
                                {% for i in range(1, 11) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="afterRisk"><strong>Risk:</strong></label>
                            <select class="form-select">
                                <option selected>Select risk rating</option>
                                {% for i in range(1, 11) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                </select>
                        </div>
                    </div>
                </div>

            <!-- Buttons to submit -->
            <div class="row justify-content-center  ">
                <div class="col-4">
                    <button type="submit" class="form-control btn btn-primary">Submit</button>
                </div>
            </div>

        </form>
            </div>
        </div>
    </div>
{% endblock %}