table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

* {
    margin: 0;
}