{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}


{% block content %}

<div class="container my-5 card shadow-sm p-4" style="border-color: transparent;">
    <h1 class="mb-4">Contact Us</h1>
    <p>We value your feedback and questions! While we currently don't have a direct contact method, 
        we encourage you to explore the available resources or get in touch through the platform.</p>

    <h3 class="mt-4">About This Project</h3>
    <p>This project is a part of a university module and created to replace inefficient Word-based drone operation management with a Flask web app.<br>
         It streamlines data handling using a relational database, enforces role-based security, and enables Excel/PDF exports for better tracking and efficiency.</p>

    <h3 class="mt-4">Stay Connected on GitHub</h3>
    <p>The project is maintained on GitHub, and you can view the source code, report issues, or contribute to the project. <br>
        If you have any feedback or suggestions, feel free to open an issue or pull request on our GitHub repository:</p>
    <p><a href="https://github.com/NikitaEdin/SOC09109-2025-TR2-Group-Project" target="_blank">Visit our GitHub repository</a></p>


</div>
{% endblock %}