{% extends "base.html" %}

{% block title %}Rural Area Flights{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="mb-2">Rural Area Flights</h1>
    <h3>This page is for creating an Rural project</h3>
</div>



<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="container text-center">
        <h4>Mandatory Forms</h4>
    </div>
    <form class="container d-flex flex-column gap-4 align-items-center" method="post">
        <div class="d-flex flex-wrap align-items-center justify-content-center" style="gap: 5rem;">
            <div class="d-flex flex-column gap-2 checklist-container flex-shrink">
                {% for key, value in checks.items() %}

                <div class="d-flex align-items-center gap-4 checklist-item">
                    <input type="checkbox" id="{{ key }}" name="{{ key }}" {% if value.value %}checked{% endif %}>
                    <div style="max-width: 25rem;">
                        <label for="{{ key }}">{{ value.title }}
                            <small class="fw-light fs-6">{% if value.last_edit %} - Last Edited: {{ value.last_edit }} {% endif %}</small>
                        </label>
                        <p>{{ value.description }}</p>
                    </div>
                    <div class="d-flex align-items-end ms-auto">
                        <!-- Create If statement to show update state if there is a form in progress -->
                        {% if value.value %}
                        <button type="button" class="btn btn-success ms">Update</button>
                       {% else %}
                       <!-- Make an onclick event to tick the box when the user clicks to set the value.value to True -->
                       <button type="button"  class="btn btn-primary ms">View</button>
                       {%endif%}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container text-center mb-3">
            <a href="/dashboard" class="btn btn-primary ms-auto">Back to Dashboard</a>
            <button class="btn btn-success ms-auto">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}