{% extends "base.html" %}

{% block content %}

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!--  any messages? -->
        {% if messages %}
            <!-- loop messages -->
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

        {% endif %}
    {% endwith %}


<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow-sm p-5 w-100" style="max-width: 1020px;">
        <h2 class="text-center mb-4">Select Project Type</h2>
        <p class="text-center text-muted">Choose from the two project types</p>

        <form method="POST">
         {{ form.hidden_tag() }}

        <div class="row">
            <div class="col-12 col-md-6">
                <label class="card p-4 align-items-center shadow-sm" style="cursor: pointer;">
                    <h5 class="mt-1 mb-4">{{ form.projectType.choices[0][1] }}</h5>
                    <img src="{{ url_for('static', filename='Images/Icons/field.png') }}" alt="Farm icon created by Freepik - www.flaticon.com" class="img-fluid mb-3" style="max-width: 105px;">
                    <div class="d-flex align-items-center">
                        <input type ="radio" name="{{ form.projectType.name }}" value="Rural">
                        <span class="ms-2 mb-1">Projects related to rural areas</span>
                    </div>
                </label>
            </div>

            <div class="col-12 col-md-6">
                <label class="card p-4 align-items-center shadow-sm" style="cursor: pointer;">
                    <h5 class="mt-1 mb-4">{{ form.projectType.choices[1][1] }}</h5>
                    <img src="{{ url_for('static', filename='Images/Icons/buildings.png') }}" alt="Urban icon created by Eucalyp - www.flaticon.com" class="img-fluid mb-3" style="max-width: 105px;">
                    <div class="d-flex align-items-center">
                        <input type ="radio" name="{{ form.projectType.name }}" value="Urban">
                        <span class="ms-2 mb-1">Projects related to urban areas</span>
                    </div>
                </label>
            </div>
        </div>

            {% for error in form.projectType.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}

            <button type="submit" class="btn btn-primary w-100 mt-4">Next</button>
        </form>
    </div>
</div>

{% endblock %}
