{% extends "base.html" %}

{% block content %}

<div class="">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!--  any messages? -->
        {% if messages %}
            <!-- loop messages -->
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

        {% endif %}
    {% endwith %}
</div>

<div class="card shadow-sm p-4">
    <h2 class="mb-4">Select Project Type</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.projectType.label(class="form-label") }}
            {{ form.projectType(class="form-select") }}
            {% for error in form.projectType.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>
{% endblock %}
