{% extends "base.html" %}

{% block title %}Urban Area Flights{% endblock %}

{% block content %}
<div class="container text-center mb-3">
    <h1 class="mb-2">Optional Forms</h1>
    <h3>Fill the forms and keep track of the progress</h3>
</div>


<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 70vh">
    <div class="row justify-content-between">
        <!-- Left column -->
        <div class="col">
            <div class="container text-center">
                <h4>Forms</h4>
            </div>
            <form class="container d-flex flex-column gap-4 align-items-start" method="post">
                <div class="d-flex flex-wrap align-items-center justify-content-start" style="gap: 5rem;">
                    <div class="d-flex flex-column gap-2 checklist-container flex-shrink">
                        {% for key in content.forms.keys() %}
                        {% set value = content.forms[key] %}

                        <div class="d-flex align-items-center gap-4 checklist-item">
                            <input type="checkbox" id="{{ key }}" name="{{ key }}" {% if value.value %}checked{% endif
                                %}>
                            <div style="max-width: 25rem;">
                                <label for="{{ key }}">{{ value.title }}</label>
                                <p>{{ value.description }}</p>
                            </div>
                            <div class="d-flex align-items-end ms-auto">
                                <!-- Create If statement to show update state if there is a form in progress -->
                                {% if value.value %}
                                <button type="button" class="btn btn-success ms">Update</button>
                                {% else %}
                                <!-- Make an onclick event to tick the box when the user clicks to set the value.value to True -->
                                <button type="button" class="btn btn-primary ms">View</button>
                                {%endif%}
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
        </div>
        </form>

        <!-- Right Column -->
        <div class="col">
            <div class="container text-center">
                <h4>Checklist</h4>
            </div>
            <form class="container d-flex flex-column gap-4 align-items-end" method="post">
                <div class="d-flex flex-wrap align-items-center justify-content-end" style="gap: 5rem;">
                    <div class="d-flex flex-column gap-2 checklist-container flex-shrink">
                        {% for key, value in content.checks.items() %}

                        <div class="d-flex align-items-center gap-4 checklist-item">
                            <input type="checkbox" id="{{ key }}" name="{{ key }}" value="on" {% if value.value %}checked{% endif
                                %}>
                            <div style="max-width: 25rem;">
                                <label for="{{ key }}">{{ value.title }} 
                                    <small>{% if value.last_edit %} - Last Edited: {{ value.last_edit }} {% endif %}</small>
                                </label>
                                <p>{{ value.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="container text-center">
                            <button class="btn btn-primary mt-3">Submit Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
   

    <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 30vh;">
        <div class="container text-center">
            <h4>Incidents & Emergencies</h4>
        </div>
        <form class="container d-flex flex-column gap-4 align-items-center" method="post">
            <div class="d-flex flex-wrap align-items-center justify-content-center" style="gap: 5rem;">
                <div class="d-flex flex-column gap-2 checklist-container flex-shrink">
                    {% for key in content.IncidentsEmergencies.keys() %}
                    {% set value = content.IncidentsEmergencies[key] %}

                    <div class="d-flex align-items-center gap-4 checklist-item">
                        <input type="checkbox" id="{{ key }}" name="{{ key }}" {% if value.value %}checked{% endif %}>
                        <div style="max-width: 25rem;">
                            <label for="{{ key }}">{{ value.title }}
                                
                            </label>
                            <p>{{ value.description }}</p>
                        </div>
                        <div class="d-flex align-items-end ms-auto">
                            <!-- Create If statement to show update state if there is a form in progress -->
                            {% if value.value %}
                            <button type="button" class="btn btn-success ms">Update</button>
                            {% else %}
                            <!-- Make an onclick event to tick the box when the user clicks to set the value.value to True -->
                            <button type="button" class="btn btn-primary ms">View</button>
                            {%endif%}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>

    {% if content.rural == 'True' %}
    <a href="{{ url_for('create_project_rural') }}" class="btn btn-primary mt-3">Back</a>
    {% elif content.urban == 'True' %}
    <a href="{{ url_for('create_project_urban') }}" class="btn btn-primary mt-3">Back</a>
    {% else %}
    <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">home</a>
    {% endif %}
</div>
</div>

{% endblock %}