{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}



<!-- Hero Section -->
<section class="hero bg-dark text-white" style="height: 75vh; position: relative;">

    <div class="">
        <!-- Flash message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <!-- Display first message only -->
                {% set message = messages[0] %}
                <div class="alert alert-{{ message[0] }} alert-dismissible fade show position-absolute top-0 start-0 end-0 mx-3 mt-2 col-8 mx-auto" role="alert" style="z-index: 1080;">
                    {{ message[1] }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endwith %}
    </div>
    

    <!-- Hero Image-->
    <img src="{{ url_for('static', filename='images/hero-background.jpg') }}"
        class="img-fluid position-absolute top-0 start-0" alt="Drone Flight"
        style="object-fit: cover; width: 100%; height: 100%;">

    <!-- Colour overlay -->
    <div class="overlay position-absolute top-0 left-0 w-100 h-100 bg-dark opacity-50"></div>

    <div class="container h-100 d-flex flex-column justify-content-between position-relative">
        <div class="row h-100 align-items-center" style="margin-top: -100px;">
            <!-- Hero Text -->
            <div class="col-12 text-center">
                <h1 class="display-4">Optimising Drone Flight Data</h1>
                <p class="lead">Create and manage drone flights - all in one place.</p>
            </div>
        </div>

        <!-- Hero Button -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-2 col-12 text-center mb-4">
                <a href="{{ url_for('dashboard') if current_user.is_authenticated else url_for('login') }}"
                    class="btn btn-primary w-100">Get Started</a>
            </div>
        </div>
    </div>
</section>


<!-- Features Section -->
<section class="bg-white pb-5" style="padding-top: 3rem">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="display-4">Our Features</h2>
                <p class="lead">Discover the powerful features that help you optimise your drone flight operations.</p>
            </div>
        </div>


        <div class="row text-center justify-content-center">
            <div class="col-md-4 mb-4">
                <img src="{{ url_for('static', filename='images/icons/feature_pin.png') }}" alt="icon" class="mb-3"
                    style="width: 80px; height: 80px;">
                <p class="lead">Organise and manage your drone flights as individual projects</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="{{ url_for('static', filename='images/icons/feature_drone.png') }}" alt="icon" class="mb-3"
                    style="width: 80px; height: 80px;">
                <p class="lead">Manage all project documentation and flight records</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="{{ url_for('static', filename='images/icons/feature_document.png') }}" alt="icon" class="mb-3"
                    style="width: 80px; height: 80px;">
                <p class="lead">Generate detailed reports of your projects</p>
            </div>
        </div>
    </div>
</section>


<!-- Drones Section -->
<section class="container my-5" style="padding-bottom: 7.5rem;">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3 class="text-start">Our Drones
                <span class="text-muted fs-6 ms-3">More drones coming soon</span>
            </h3>
            <div class="row mt-4 gy-2">
                <!-- Drone 1 -->
                <div class="col d-flex justify-content-center">
                    <div class="card shadow-sm border-0 rounded-4" style="max-width: 260px; overflow: hidden;">
                        <img src="{{ url_for('static', filename='images/drone3.png') }}"
                            class="card-img-top rounded-top" alt="DJI Mini 3 Pro"
                            style="object-fit: cover; max-height: 230px;">
                        <div class="card-body text-start">
                            <h5 class="card-title">DJI Mini 3 Pro</h5>
                            <p class="text-muted">Weight: 249g</p>
                            <div class="d-flex justify-content-between">
                                <a href="https://store.dji.com/uk/product/dji-mini-3-pro" class="text-primary">Product
                                    Page</a>
                                <a href="https://dl.djicdn.com/downloads/DJI_Mini_3_Pro/UM/20240105/2/DJI_Mini_3_Pro_User_Manual_v1.6_EN.pdf"
                                    class="text-primary">User Guide</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Drone 2 -->
                <div class="col d-flex justify-content-center">
                    <div class="card shadow-sm border-0 rounded-4" style="max-width: 260px; overflow: hidden;">
                        <img src="{{ url_for('static', filename='images/drone1.png') }}"
                            class="card-img-top rounded-top" alt="DJI Matrice 30 RTK"
                            style="object-fit: cover; max-height: 230px;">
                        <div class="card-body text-start">
                            <h5 class="card-title">DJI Matrice 30 RTK</h5>
                            <p class="text-muted">Weight: 9.2kg</p>
                            <div class="d-flex justify-content-between">
                                <a href="https://enterprise.dji.com/matrice-30" class="text-primary">Product Page</a>
                                <a href="https://dl.djicdn.com/downloads/matrice-30-series/20230922UM/Matrice30_Series_User_Manual_v2.0_EN.pdf"
                                    class="text-primary">User Guide</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Drone 3 -->
                <div class="col d-flex justify-content-center">
                    <div class="card shadow-sm border-0 rounded-4" style="max-width: 260px; overflow: hidden;">
                        <img src="{{ url_for('static', filename='images/drone2.png') }}"
                            class="card-img-top rounded-top" alt="DJI Mavic 3E"
                            style="object-fit: cover; max-height: 230px;">
                        <div class="card-body text-start">
                            <h5 class="card-title">DJI Mavic 3E</h5>
                            <p class="text-muted">Weight: 1.05kg</p>
                            <div class="d-flex justify-content-between">
                                <a href="https://enterprise.dji.com/mavic-3-enterprise" class="text-primary">Product
                                    Page</a>
                                <a href="https://dl.djicdn.com/downloads/DJI_Mavic_3_Enterprise/DJI_Mavic_3E_3T_User_Manual_EN.pdf"
                                    class="text-primary">User Guide</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}