{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}
    <div class="">
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!--  any messages? -->
        {% if messages %}
            <!-- loop messages -->
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

        {% endif %}
    {% endwith %}
    </div>

    <!-- Welcome Section -->
    <div class="text-center position-relative">
        <img src="{{ url_for('static', filename='images/hero-background.jpg') }}" alt="hero background" class="w-100" style="height: 400px">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white" style="margin-top: -10px">
        <h2 class="display-4">Optimising Drone Flight Data</h2>
        <p class="lead">Create and manage drone flights - all in one place</p>
        <a href="{{ url_for('login') }}" class="btn btn-lg btn-primary fs-6 w-25 mb-5" style="margin-top: 120px">GET STARTED</a>
    </div>
    </div>

    <!-- Features Section -->
    <div class="row text-center ">

        <div class="col-md-4 mb-4">
            <h4><img src="{{ url_for('static', filename='images/icons/feature_pin.png') }}" alt="icon" style="width: 120px; height: 120px;"></h4>
            <p>Organise and manage your drone flights as individual projects</p>
        </div>

        <div class="col-md-4 mb-4">
            <h4><img src="{{ url_for('static', filename='images/icons/feature_drone.png') }}" alt="icon" style="width: 120px; height: 120px;"></h4>
            <p>Manage all project documentation and flight records</p>
        </div>

        <div class="col-md-4 mb-4">
            <h4><img src="{{ url_for('static', filename='images/icons/feature_document.png') }}" alt="icon" style="width: 120px; height: 120px;"></h4>
            <p>Generate detailed reports of your projects</p>
        </div>
    </div>

<!-- Drones -->
<section class="container my-5">
<div class="d-flex justify-content-between align-items-center">
    <h3 class="fw-bold">Our Drones</h3>
    <span class="text-muted">More models coming soon</span>
</div>
<div class="row mt-3">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/drone3.png') }}" class="card-img-top" alt="drone">
        <div class="card-body">
            <h5 class="card-title">DJI Mini 3 Pro</h5>
            <p class="text-muted">Weight: 249g</p>
            <a href="#">Product Page</a>
            <a href="#">User Guide</a>
        </div>
    </div>
        <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/drone1.png') }}" class="card-img-top" alt="drone">
        <div class="card-body">
            <h5 class="card-title">DJI Matrice 30 RTK</h5>
            <p class="text-muted">Weight: 9.2kg</p>
            <a href="#">Product Page</a>
            <a href="#">User Guide</a>
        </div>
    </div>
        <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/drone2.png') }}" class="card-img-top" alt="drone">
        <div class="card-body">
            <h5 class="card-title">DJI Mavic 3E</h5>
            <p class="text-muted">Weight: 1.05kg</p>
            <a href="#">Product Page</a>
            <a href="#">User Guide</a>
        </div>
    </div>
</div>
    </section>
{% endblock %}
