<nav class="no-print navbar navbar-expand-lg bg-body-tertiary sticky-top navbar-light" style="background-color: var(--accent-colour) !important; ">
    <div class="container-fluid col-10">
        <!-- Logo -->
        <a class="navbar-brand" href="{{ url_for('home') }}" style="font-weight: 700; color: var(--text-light-colour);">
            <img src="{{ url_for('static', filename='Images/UAS.svg') }}" alt="DroneOp Logo" class="pb-1"
                 style="width: 30px; height: 30px; vertical-align: middle; filter: invert(1);">
            UAS Drones Operations
        </a>
        

       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{url_for('home')}}" style="color: var(--text-light-colour);">Home</a>
                </li>
                <!-- Item -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Item</a>
                </li> -->
            </ul>
        </div>

        <!-- Guest: show register and login buttons  -->
        <div class="navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: var(--text-light-colour);">
                    {{ current_user.username }} ({{current_user.role.title}})
                </a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    {% if current_user.is_admin() %}
                        <li><a class="dropdown-item" href="#"><i class="fas fa-cogs me-2"></i> Admin Panel</a></li>
                        
                     {% endif %}
                     <li><a class="dropdown-item" href="{{url_for('dashboard')}}"><i class="fas fa-chart-line me-2"></i> Dashboard</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt me-2"></i> Logout</a></li>
                </ul>
            </li>
        {% else %}
            <a class="nav-link" href="{{ url_for('login') }}" style="color: var(--text-light-colour);">Login</a>
        {% endif %}
        
        </div>
    </div>
</nav>
